﻿@{
    ViewData["Title"] = "Create";
}

<div class="card h-75 mt-lg-5">
    <div class="text-center mt-3 mb-3">
        <h3 class="card-title text-dark font-weight-bold"> Ficha de Realizacion de prueba</h3>
    </div>
    <form action="/HistoriaClinica/Create" method="post">

        <div class="row my-3 mx-3">
            <div class="col-xs-4 ml-3">
                <label>Fecha de registro</label>
                <input type="date" class="form-control" name="FechaRegistro" max="2020-11-04" value="@Model.FechaRegistro" />
                @Html.ValidationMessage("FechaRegistro")
            </div>
            <div class="col-xs-6 ml-3">
                <div class="row ml-5">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label>Sexo</label>
                        </div>

                        <div class="col-md-12 ml-1">
                            <select name="Sexo" class="custom-select">
                                <option selected disabled>-- Opciones --</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                            </select>
                            @Html.ValidationMessage("Sexo")
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-1 ml-1"></div>
            <div class="col-md-3 ml-1">
                <label>Fecha de Nacimiento</label>
                <input type="date" class="form-control" name="Nacimiento" max="2020-11-04" value="@Model.Nacimiento" />
                @Html.ValidationMessage("Nacimiento")
            </div>
        </div>
        <div class="row my-3 mx-3">
            <div class="col-xs-4 ml-3">
                <label>Nombre de la mascota</label>
                <input type="text" class="form-control" name="Nombre" value="@Model.Nombre" />
                @Html.ValidationMessage("Nombre")
            </div>
            <div class="col-xs-6 ml-3">
            </div>
            <div class="col-xs-4 ml-3">
                <label>Tamaño (en cm)</label>
                <input type="text" class="form-control" name="Tamaño" value="@Model.Tamaño" />
                @Html.ValidationMessage("Tamaño")
            </div>
        </div>
        <div class="row my-1 mx-3">
            <div class="col-xl-3">
                <label>Especie</label>
            </div>
            <div class="col-xl-3">
                <label>Raza</label>
            </div>
        </div>
        <div class="row my-1 mx-5">
            <div class="form-group row">
                <div class="col-xs-8">
                    <select name="Especie" class="custom-select" id="Especie">
                        <option>-- Seleccione Valor --</option>
                        @foreach (var item in ViewBag.Especies)
                        {
                            <option value="@item.Id">@item.Nombre</option>
                        }
                    </select>
                </div>
                <div id="Razas">
                </div>
            </div>
        </div>
        <div class="row my-1 mx-3">
            <div class="col-xl-12">
                <label>Datos particulares</label>
            </div>
            <div class="col-xl-8">
                <textarea name="Datos" class="form-control"></textarea>
                @Html.ValidationMessage("Datos")
            </div>
        </div>
        <div class="text-left mt-1 mb-3 mx-4 my-4">
            <h3 class="card-title text-dark font-weight-bold">Datos del dueño</h3>
        </div>
        <div class="row mx-3 my-3">
            <div class="col-xl-6">
                <label>Nombre</label>
            </div>
            <div class="col-xl-6">
                <label>Direccion</label>
            </div>
        </div>
        <div class="row mx-3 my-3">
            <div class="col-xl-6">
                <input type="text" name="Dueño" class="form-control" value="@Model.Dueño" />
                @Html.ValidationMessage("Dueño")
            </div>
            <div class="col-xl-6">
                <input type="text" name="Direccion" class="form-control" value="@Model.Direccion" />
                @Html.ValidationMessage("Direccion")
            </div>
        </div>
        <div class="row mx-3 my-3">
            <div class="col-xl-6">
                <label>Telefono</label>
            </div>
            <div class="col-xl-6">
                <label>Email</label>
            </div>

        </div>
        <div class="row mx-3 my-3">
            <div class="col-xl-6">
                <input type="tel" name="Telefono" class="form-control" value="@Model.Telefono" />
                @Html.ValidationMessage("Telefono")
            </div>
            <div class="col-xl-6">
                <input type="email" name="Email" class="form-control" value="@Model.Email" />
                @Html.ValidationMessage("Email")
            </div>

        </div>
        <div class="row my-5 mx-3">
            <div class="col-xl-12 text-center">
                <button class="btn btn-success"><i class="fas fa-save"></i> Guardar</button>
            </div>
        </div>
    </form>

</div>

<script>

    function init() {
        $.ajax({
            url: '/historiaClinica/Razas?IdEspecie=' + $('#Especie').val()
        }).done(function (Tablex) {
            $('#Razas').html(Tablex)
        });
    }

    $(document).ready(function () {
        $("#Especie").on('change',function () {
            init();
        });
    });

</script>