﻿@{
    ViewData["Title"] = "Index";
}
<div class="text-center mt-3 mb-3">
    <h3 class="card-title text-dark font-weight-bold">Veterinaria Patitas</h3>
</div>
<div class="text-right">
    <br />
    <a href="/historiaClinica/create" class="btn btn-primary">Nueva Historia Clinica</a>
    <br />
</div>
<table class="table table-dark">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Dueño</th>
            <th scope="col">Telefono</th>
            <th scope="col">Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>@item.Dueño</td>
                <td>@item.Telefono</td>
                <td>@item.Email</td>
                <td><a href="/HistoriaClinica/Mostrar?Id=@item.Id" class="btn btn-success">Ver</a></td>
            </tr>
        }
    </tbody>
</table>
