﻿

@{
    ViewData["Title"] = "Mostrar";
}
<div class="text-center mt-3 mb-3 mx-4 my-4">
    <h2 class="card-title text-dark font-weight-bold">Veterinaria Patitas</h2>
</div>
<div class="card h-75 mt-lg-5">
    <div class="text-left mt-3 mb-3 mx-4">
        <h3 class="card-title text-dark font-weight-bold">Historia Clinica</h3>
    </div>
    <div class="row my-3 mx-3">
        <div class="col-xs-4 ml-3">
            <label>Fecha de registro</label>
            <h6>@Model.FechaRegistro</h6>
        </div>
        <div class="col-xs-6 ml-3">
            <div class="row ml-5">
                <div class="form-group row">
                    <div class="col-md-12">
                        <label>Sexo</label>
                    </div>

                    <div class="col-md-12 ml-1">
                        <h6>@Model.Sexo</h6>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-1 ml-1"></div>
        <div class="col-md-3 ml-1">
            <label>Fecha de Nacimiento</label>
            <h6>@Model.Nacimiento</h6>
        </div>
    </div>
    <div class="row my-3 mx-3">
        <div class="col-xs-4 ml-3">
            <label>Nombre de la mascota</label>
            <h6>@Model.Nombre</h6>
        </div>
        <div class="col-xs-6 ml-3">
        </div>
        <div class="col-xs-4 ml-3">
            <label>Tamaño (en cm)</label>
            <h6>@Model.Tamaño</h6>
        </div>
    </div>
    <div class="row my-1 mx-3">
        <div class="col-xl-2">
            <label>Especie</label>
        </div>
        <div class="col-xl-2">
            <label>Raza</label>
        </div>
    </div>
    <div class="row my-1 mx-3">
        <div class="col-xl-2">
            <h6>@Model.Especie</h6>
        </div>
        <div class="col-xl-2">
            <h6>@Model.Raza</h6>
        </div>
    </div>
    <div class="row my-1 mx-3">
        <div class="col-xl-12">
            <label>Datos particulares</label>
        </div>
        <div class="col-xl-8">
            <h6>@Model.Datos</h6>
        </div>
    </div>
    <div class="text-left mt-1 mb-3 mx-4 my-4">
        <h3 class="card-title text-dark font-weight-bold">Datos del dueño</h3>
    </div>
    <div class="row mx-3">
        <div class="col-xl-6">
            <label>Nombre</label>
        </div>
        <div class="col-xl-6">
            <label>Direccion</label>
        </div>
    </div>
    <div class="row mx-3">
        <div class="col-xl-6">
            <h6>@Model.Dueño</h6>
        </div>
        <div class="col-xl-6">
            <h6>@Model.Direccion</h6>
        </div>
    </div>
    <div class="row mx-3">
        <div class="col-xl-6">
            <label>Telefono</label>
        </div>
        <div class="col-xl-6">
            <label>Email</label>
        </div>

    </div>
    <div class="row mx-3">
        <div class="col-xl-6">
            <h6>@Model.Telefono</h6>
        </div>
        <div class="col-xl-6">
            <h6>@Model.Email</h6>
        </div>

    </div>

</div>
