﻿
@{
    Layout = null;
}

    <div class="form-group row">
        <div class="col-xl-10 mx-5">
            <select class="form-control" name="Raza">
                @foreach (var item in Model)
                {
                    <option value="@item.Nombre">@item.Nombre</option>
                }
            </select>
        </div>
    </div>

